<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Update Products</title>
</head>

<body>
    <table class="table bordered">
        <form action="/doupdate" method="post">
            {{#each model}}
            <center>
                <h1>Update Products</h1>
                <input type="hidden" value="{{_id}}" name="id" id="">
                Name <br> <input type="text" value="{{name}}" name="txtName" id=""></Name> <br>
                Price <br> <input type="text" value="{{price}}" name="txtPrice" id=""></Price> <br>
                Amount <br> <input type="text" value="{{amount}}" name="txtAmount" id=""></Amount> <br>
                Image <br> <input type="text" value="{{image}}" name="txtImage" id=""></Image> <br> <br>
                <input type="submit" value="Confirm">
            </center>
            {{/each}}
        </form>
    </table>

</body>

</html>